MACHINE ExcelTable_RecordVersion
ABSTRACT_CONSTANTS {{titles}}
CONSTANTS Excel

PROPERTIES
Excel : POW(struct({{titles_haupttypen}})) &
Excel = { /* the Data */
{{#rec}}
  rec({{{titles_Werte}}}),
{{/rec}}
}

{{#functions}}
&
{{title}} = %x{{id}}.(x{{id}}:struct({{titles_haupttypen}})|x{{id}}'{{title}})
{{/functions}}

END
